/* Fonts */
@font-face {
	src: url("/resources/fonts/Oxygen-Bold.ttf");
}

/* Nodes */
.root {
	-fx-background-color: #FFFFFF;
}

.label {
	-fx-background-color: transparent;
	-fx-font-family: 'Oxygen Bold';
	-fx-text-fill: #000000;
	-fx-font-size: 18px;
}

.text-area, .text-field {
	-fx-font-family: 'Oxygen Bold';
	-fx-text-fill: #000000;
	-fx-font-size: 18px;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.thumb {
	-fx-background-color: #545454;
}

/*
.menu-bar, .menu, .menu-button, .menu-item, .context-menu {
	-fx-background-color: transparent;
	-fx-font-family: 'Oxygen Bold';
	-fx-text-fill: #000000;
	-fx-font-size: 20px;
}
*/

/* ID */
#flashcard-pane-header, #flashcard-pane-footer {
	-fx-background-color: #FFFFFF;
}

#subject-button {
	-fx-background-color: linear-gradient(#FFFFFF, #D6D6D6);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-background-radius: 0;
	-fx-font-family: 'Oxygen Bold';
	-fx-text-fill: #000000;
	-fx-font-size: 20px;
}

#create-subject-button, #remove-subject-button, #edit-subject-button, #create-flashcard-button, #back-button, #edit-flashcard-button, #remove-flashcard-button {
	-fx-background-color: #D6D6D6;
	-fx-background-radius: 25px;
	-fx-border-radius: 25px;
	-fx-font-family: 'Oxygen Bold';
	-fx-text-fill: #000000;
	-fx-font-size: 18px;
}

#flashcard-scroll-pane {
	-fx-background-color: #FFFFFF;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}

#subject-scroll-pane {
	-fx-background-color: linear-gradient(#FFFFFF, #D6D6D6);
	-fx-border-style: none solid none none;
    -fx-border-width: 5;
    -fx-border-color: transparent #545454 transparent transparent;
}

#default-create-flashcard-button {
	-fx-background-color: #D6D6D6;
	-fx-background-radius: 0px;
	-fx-border-radius: 0px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 5);
	-fx-font-family: 'Oxygen Bold';
	-fx-text-fill: #FFFFFF;
	-fx-background-image: url("/resources/images/add-flashcard-button.png");
}

#flashcard {
	-fx-background-color: #D6D6D6;
	-fx-background-radius: 0px;
	-fx-border-radius: 0px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 5);
	-fx-font-family: 'Oxygen Bold';
	-fx-text-fill: #000000;
	-fx-font-size: 18px;
}